*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #aca99d;
    --secondary-color: #063147;
    --tertiary-color: #297780;
  }

body {
    background-color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    top: 0;   
    z-index: 9999;
}

.intro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: column;
}

.title {
    font-weight: bold;
    color: var(--secondary-color);
    margin: 5px;
    font-size: 30px;
}

.prompt {
    font-weight: bold;
    color: var(--secondary-color);
    margin: 15px 15px;
    justify-content: center;
    align-content: center;
    flex: wrap;
}

.container {
    background: var(--tertiary-color);
    padding: 3rem;
    border-radius: 1rem;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 750px;
    max-width: 90%;
}

.button {
    width: 10rem;
    border: none;
    background-color: transparent;
    color: var(--secondary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    margin: 15px;
    border: 2px solid black;
    cursor: pointer;
}

.button:hover {
    background-color: #FFFFFF33;
}

.button-grid {
    display: grid;
}

.start-button, .next-button {
    padding: 20px 0;
    font-size: 25px;
    font-weight: bold;

}

.submit {
    display: flex;
    justify-content: center;    
    align-items: center;
}

.hide {
    display: none;
}

.highscore a {
    color: var(--secondary-color);
    justify-content: flex-start;
}

.timer {
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


